html {
    font-family: sans-serif;
  }
  
  h1 {
      color: red;
      text-align: center;
  }
  
  h3 {
      color: red;
  }
  
  p {
      text-align: left;
      font-size: 14px;
      text-indent: 25px;
  }
  
  .footer {
    padding-top: 5%;
  }
  
  .footer p {
    text-indent: -6px;
  }
  
  ul {
    color: black;
    font-size: 16px;
  
  }
  
  form {
    font-size: 16px;
  
  }
  
  .rounded {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .vlad {
    text-indent: 25px;
  }
  
  .vampires21 {
    text-indent: 25px;
  }
  
  .vampire_entertain {
    text-indent: 25px;
  }
  
  
  .contact-us {
    text-indent: 25px;
  }
  
  
  .form-spacer {
    padding: 30px 39px;
  }
  
  .container {
    padding-top: -1%;
  }
  
  .contact {
    margin-left: 1%;
    margin-right: auto;
    box-sizing: border-box;
    border-width: medium;
    border-radius: 5px;
  }
  
  