h1 {
    color: red;
    text-align: center;
    font-family: tahoma;
}

h3 {
    color: red;
    font-family: tahoma;
}

p {
    font-family: tahoma;
    text-align: left;
    font-size: 14px;
}

footer {
  font-family: tahoma;

}

ul {
  font-family: tahoma;
  color: black;
  font-size: 16px;

}

form {
  font-family: tahoma;
  font-size: 16px;

}
