h2 {
    text-align: center;
    font-weight: bolder;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: palevioletred;
    color: black;
    text-align: center;
    font-weight: bold;
}

